// Jay's Materialize Fixes
// See: https://github.com/JayHoltslander/materialize-fixes



// RESTORE MISSING (BUT DOCUMENTED) HELPER CLASSES
//
.show-on-small {
	// Hide from 601px and up
	@media only screen and (min-width: 601px) {
		display: none !important;
	}
}
.show-on-medium {
	// Hide from 0px to 600px (Small)
	@media only screen and (max-width: 600px) {
		display: none !important;
	}
	// Hide from 993px and up (Desktop)
	@media only screen and (min-width: 993px) {
		display: none !important;
	}
}
.show-on-large {
	// Hide from 0px to 993px (Desktop)
	@media only screen and (max-width: 993px) {
    display: none !important;
	}
}
.show-on-medium-and-up {
	@media only screen and (max-width: 600px) {
    display: none !important;
	}
}
.show-on-medium-and-down {
	@media only screen and (min-width: 993px) {
    display: none !important;
	}
}



// FIX PARAGRAPH SPACING WITHIN .CARD-CONTENT
//
.card {
  .card-content {
    p {
      margin-bottom: 1em;
    }
  }
}



// Material Icons Fix
// See: https://codepen.io/j_holtslander/pen/prEXEa
//
.material-icons {font-size: inherit;}



// IPHONE X+ SCREEN FIX FOR MATERIALIZE
// See: https://css-tricks.com/the-notch-and-css/
//
.navbar-fixed nav {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}
.footer-fixed footer {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}


// BETTER AFFIXING OF THE FIXED NAVBAR
//
.navbar-fixed {
	position:fixed;
	width: 100%;
}


// FIX .COLLECTION-ITEM THAT HAS .AVATAR
// See: https://codepen.io/j_holtslander/pen/OrPQJL?editors=1100
.collection {
  .collection-item {
    &.avatar {
      min-height: 64px;
    }	
  }	
}



// FIX NAVBAR HEIGHT CHANGE
// Prevents odd size discepancy between mobile and tablet.
//
@media only screen and (min-width: 601px) {
  nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    height: 56px; // Was 64px
    line-height: 56px; // Was 64px
  }
  .navbar-fixed {
    height: 56px;
  }
}



// FIX ICONS IN TABS
//
.tabs {
  .material-icons {
    position: relative;
    top: 6px;
  }
}



// FIX FOR MATERIALIZE'S TOOLBAR FROM FAB
// Prevents circular buttons within the expanded toolbar.
// See: https://codepen.io/j_holtslander/pen/wRqGRv
.fixed-action-btn {
  &.toolbar {
    ul {
      li {
        a {
          &.btn-floating {
            border-radius:0;
          }
        }
      }
    }
  }
}



// FIX MATERIALIZE'S CARD-IMAGES
// Better handling of images within cards
// See: https://codepen.io/j_holtslander/pen/KbXyrq
.card {
  .card-image {
    img {
      height: 240px; // CONTROLS YOURS DESIRED CARD IMAGE HEIGHT
      object-fit: cover; // NO MATTER WHAT THE IMAGE'S HEIGHT OR ASPECT RATIO IT WILL SCALE WELL WITHIN THE HEIGHT
    }
  }
  .card-content {
    max-height: initial; // ADDITONAL FIX
  }
}



// CUSTOM NAV-CENTER
// See: https://stackoverflow.com/a/42890059/751570
//
nav {
  &.nav-center {
    ul {
      text-align: center;
      li {
        display: inline;
        float: none;
        a {
          display: inline-block;
        }
      }
    }
  }
}

// SMOOTHSCROLLING
// See: https://css-tricks.com/snippets/jquery/smooth-scrolling/
//
html {scroll-behavior: smooth;}


// MATERIALIZE'S STICKY FOOTER
// See: https://materializecss.com/footer.html
//
body {display: flex;min-height: 100vh;flex-direction: column;}
main {flex: 1 0 auto;}



// CUSTOM FIXED FOOTER FOR MATERIALIZE
//
.footer-fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
}



// CUSTOM CARD TITLE GRADIENTS
//
.card {
  .card-image {
    .card-title {
      &.gradient {
        padding-top: 64px;
        display: block;
        width: 100%;
        background-color: rgba(0,0,0,0);
        background: -moz-linear-gradient(top, rgba(125,185,232,0) 0%, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.8) 100%);
        background: -webkit-linear-gradient(top, rgba(125,185,232,0) 0%,rgba(0,0,0,0.4) 50%,rgba(0,0,0,0.8) 100%);
        background: linear-gradient(to bottom, rgba(125,185,232,0) 0%,rgba(0,0,0,0.4) 50%,rgba(0,0,0,0.8) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#cc000000',GradientType=0 );
      }
    }	
  }	
}



// IMPROVE CARD-TITLE TO ALLOW FOR FLOW-TEXT TO BE USED
.card-title {
  &.flow-text {
    font-size: inherit;	
  }
}



// ADD ABILITY TO HIDE CARD TITLES
//
.card {
  .card-title {
    &.hidden {
      text-indent:-9999px;
    }
  }
}



// FULL-WIDTH COLLECTIONS INSIDE CARD-CONTENT
.card {
  ul {
    &.collection {
      &.full-width {
        width: calc(100% + 48px);
        left: -24px;
        border-left: none;
        border-right: none;
      }
    }
  }
}



// CUSTOM DARK SIDEBAR
// See: https://codepen.io/j_holtslander/pen/oqGWYJ
//
// CUSTOM VARIABLES
$sidenav-bg: #151515;
$sidenav-color: rgba(255,255,255,0.5);
$sidenav-divider: rgba(255,255,255,0.2);

.sidenav {
  &.dark {
    background-color: $sidenav-bg;
    color: $sidenav-color;
    .subheader {
      color: $sidenav-color;
    }
    .divider {
      background-color: $sidenav-divider;
    }
    li {
      a {
        color: $sidenav-color;
        i.material-icons {
          color: $sidenav-color;
        }
      }
    }	
  }
}

// CUSTOM ESCAPE CONTAINER
//
.escape-container {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

// FONT AWESOME ICONS FOR MATERIALIZE
// See: https://codepen.io/j_holtslander/pen/JybxXy
//
.icon {
  i.circle {
    font-size: 18px;
    line-height: 42px;
    color: #fff;
    background-color: #999;
    text-align: center;
  }
  .circle {
    position: relative;
    margin-right: 16px;
    margin-bottom: 16px;
    float: left;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
  }
}
